@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@600&display=swap');

* {
    font-family: 'Noto Sans Arabic', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    box-sizing: border-box;
}

:is(#userBasket, #LoginAndBasket, body, ul, #introduce) {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: auto;
    overflow-x: hidden;
    background-color: #fff;
    /* display: flex;
    flex-direction: column; */
}

#container {
    margin-left: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


header {
    background-color: #f8f8f8;
    border-radius: 0px 0px 0px 60px;
    height: 800px;
    overflow: hidden;
}

:is(#topHeader, #menu ul, ) {
    display: flex;
    list-style: none;
}

#LoginAndBasket {
    gap: 20px;
    margin-left: 50px;
}

#loginBtn {
    width: 180px;
    height: 55px;
    border-radius: 50px;
    color: #fff;
    background-color: #758BFD;
    font-size: 16px;
    transition: background-color 0.3s;
}

:is(#loginBtn, #iconBox):hover {
    background-color: #222;
}

#loginBtn i {
    margin-left: 7px;
    font-size: 17px;
}

:is(#loginBtn, #userBasket) {
    cursor: pointer;
}

#userBasket {
    border: 1px solid #e8e8e8;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 22px;
}

/* menu */

nav {
    margin-left: 50px;
    background-color: #fff;
    width: 1100px;
    height: 140px;
    border-radius: 0px 0px 0px 70px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

nav>ul {
    margin-top: 40px;
}

nav>ul>img {
    margin-left: 20px;
    width: 150px;
}

nav>ul>li>span {
    cursor: pointer;
    padding-left: 20px;
    margin-right: 20px;
    height: 20px;
    border-left: 2px solid #e8e8e8;
    display: flex;
    align-items: center;
    transition: color 0.3s;
    width: max-content;
    position: relative;
}

nav>ul>li>span::after {
    content: '';
    position: absolute;
    bottom: -57px;
    height: 7px;
    width: 100%;
    left: 10px;
    border-radius: 60px 60px 0px 0px;
    background-color: #758BFD;
    transition: 0.3s ease-in-out;
    transform: scaleX(0);
}

nav>ul>li>span:hover:after {
    transform: scaleX(1);
}

nav>ul>li>span>i {
    font-size: 10px;
    margin-right: 5px;
}

nav>ul>li>span:hover {
    color: #758BFD;
}

nav ul li:first-of-type span {
    border-left: none;
}

nav>ul>li {
    position: relative;
}

nav>ul>li:hover>#collection,
nav>ul>li:hover>#collection img,
nav>ul>li:hover #pages,
nav>ul>li>ul>li:hover #underMenu {
    visibility: visible;
    opacity: 1;
}

/*  */

#collection {
    background-color: #fff;
    position: absolute;
    top: 73px;
    height: 300px;
    bottom: 10px;
    right: -375px;
    z-index: 1;
    width: 1000%;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}

#collection img {
    width: 250px;
    transition: all 0.3s ease-in;
    opacity: 0;
    visibility: hidden;
}

#collection img:hover {
    transform: rotateY(180deg);
}

#collection li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#historical {
    background-color: #353430;
}

#trade {
    background-color: #F7931A;
}

#art {
    background-color: #5B9852;
}

#biography {
    background-color: #B2824C;
}

#collection li span {
    border-radius: 50px;
    width: 150px;
    text-align: center;
    color: #fff;
    width: max-content;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -10px;
    z-index: 1;
}

#pages {
    flex-direction: column;
    position: absolute;
    top: 73px;
    text-align: right;
    align-items: flex-end;
    background-color: #758BFD;
    color: #e0e0e0;
    font-size: 15px;
    border-radius: 11px;
    width: 170%;
    right: 10px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}

nav>ul>li>ul {
    position: relative;
}

#underMenu {
    position: absolute;
    right: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    background-color: #758BFD;
    color: #e0e0e0;
    font-size: 15px;
    border-radius: 11px;
    width: 100%;
    top: 110px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}

#pages span,
#underMenu li {
    transition: all 0.3s;
    cursor: pointer;
}


#pages span:hover,
#underMenu li:hover {
    color: #fff;
}

#pages span:hover i {
    transform: translateX(-5px);
}

#pages>li>span:last-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#pages span i {
    font-size: 10px;
    margin-top: 3px;
    transition: all 0.3s;
}

/*  */
#introduce {
    margin-top: 40px;
    margin-right: 50px;
}

#model img {
    width: 630px;
    user-select: none;
}

#model {
    position: relative;
    height: 950px;
    overflow: hidden;
    width: 650px;
}

#bg img {
    position: absolute;
    top: 120px;
    left: -10px;
}

#pos img {
    position: absolute;
    top: -20px;
    left: 0;
    max-width: 100%;
    width: 700px;
}

/*  */
#titlesPage h2 span {
    color: #758BFD;
}

#titlesPage h2 {
    text-align: right;
    font-size: 50px;
    line-height: 80px;
}

#titlesPage p {
    color: #acacac;
    width: 488px;
    text-align: right;
    margin-top: 50px;
    margin-bottom: 100px;
}

#titlesPage {
    margin-right: 70px;
    margin-top: -400px;
    display: flex;
    flex-direction: column;
    user-select: none;
    margin-left: 40px;
}

/*  */
#searchBox {
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    background-color: #fff;
    border-radius: 40px;
    height: 60px;
    position: relative;
}

#searchBox input {
    text-align: right;
    width: 330px;
    padding-right: 20px;
    background-color: transparent;
}

#iconBox {
    background: #758BFD;
    color: #fff;
    width: 100px;
    height: 85%;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
    margin-bottom: 3px;
    cursor: pointer;
    gap: 7px;
    transition: background-color 0.3s;
}

/*  */
#booksTitle {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.titlesOfBookPage {
    margin-bottom: 70px;
    margin-top: 30px;
    font-size: 25px;
}

.grouping {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grouping-txt {
    background-color: #758BFD;
    color: #fff;
    width: 100px;
    height: 35px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 14px;
}

.lineAfter,
.lineBefore {
    background-color: #d8d6d6;
    width: 204px;
    height: 1px;
    top: -14px
}

/*  */

#actionBooks {
    background-color: #105372;
    width: 410px;
    height: 580px;
    border-radius: 40px;
    overflow: hidden;
}

#action {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#action img {
    width: 400px;
    margin-top: -100px;
}

#actionTitle {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-right: -7rem;
    gap: 1rem;
    color: #fff;
    z-index: 1;
}

#actionTitle>span,
#classicTitle>span,
#mostTitle>span,
#secretTitle>span,
#bioTitle>span {
    font-size: 20px;
}

#actionTitle button,
#classicTitle button,
#mostTitle button,
#secretTitle button,
#bioTitle button {
    width: 150px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    padding-left: 10px;
    transition: all 0.3s;
}

#actionTitle button i,
#classicTitle button i,
#mostTitle button i,
#secretTitle button i,
#bioTitle button i {
    border: 1px solid #fff;
    border-radius: 40px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#actionTitle button:hover,
#classicTitle button:hover,
#mostTitle button:hover,
#secretTitle button:hover,
#bioTitle button:hover {
    background-color: #fff;
    color: #758BFD;
}

#actionTitle button:hover i,
#classicTitle button:hover i,
#mostTitle button:hover i,
#secretTitle button:hover i,
#bioTitle button:hover i {
    background-color: #758BFD;
    color: #fff;
}

#classicBooks {
    background-color: #26292A;
    border-radius: 40px;
    overflow: hidden;
    width: 400px;
    height: 280px;
    margin-right: 50px;
    margin-left: 50px;
}

#classic,
#mostSell,
#secret,
#bio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

#classicTitle,
#mostTitle,
#secretTitle,
#bioTitle {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-right: -7rem;
    gap: 1rem;
    color: #fff;
    z-index: 1;
    text-align: right;
}

#classic img {
    width: 400px;
    margin-top: -105px;
}

#booksGroup {
    display: flex;
    flex-direction: row-reverse;
}

#mostSellBooks {
    background-color: #758BFD;
    width: 550px;
    height: 250px;
    border-radius: 40px;
    overflow: hidden;
}

#mostTitle {
    margin-right: -18rem;
    align-items: flex-end;
}

#mostTitle span {
    line-height: 30px;
}

#mostSell img {
    width: 600px;
    margin-top: -120px;
    margin-right: 80px;
}

#secretBooks {
    background-color: #FF6600;
    color: #fff;
    width: 415px;
    height: 250px;
    border-radius: 40px;
    overflow: hidden;
}

#secretTitle {
    margin-right: -11rem;
}

#secret img {
    width: 500px;
    margin-top: -137px;
    margin-right: 70px;
}

#bioBooks {
    background-color: #F1F2F6;
    color: #000000;
    width: 270px;
    height: 250px;
    border-radius: 40px;
    overflow: hidden;
}

#bioTitle {
    color: #000000;
}

#bioTitle button {
    color: #000000;
    border-color: #000000;
}

#bioTitle button i {
    border-color: #000000;
}

#bioTitle button:hover {
    border-color: #fff;
}

#bioTitle button:hover i {
    border-color: #fff;
}

#bio img {
    width: 270px;
    margin-top: -150px;
}

#bioTitle {
    margin-right: -5rem;
}

#topBooks {
    display: flex;
    flex-direction: row-reverse;
}

#bottomBooks {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 50px;
}

#mostSellBooks {
    margin-right: 50px;
    margin-left: 50px;
}

#booksTitle>* {
    user-select: none;
}

nav>* {
    user-select: none;
}

#bought {
    width: 120px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 93px;
    margin-bottom: 100px;
}

#most {
    margin-bottom: 200px;
    background-color: #F1F2F6;
    width: 1000%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.aBook {
    width: 290px;
    height: 420px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.aBook:hover .book-title {
    color: #758BFD;
}

.topBook img {
    width: 250px;
    border-bottom: 1px solid #cfcfcf;
}

.bottomBook {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
}

.book-title {
    font-size: 20px;
    transition: all 0.3s;
    user-select: none;
}

.bookPrice {
    margin-right: 180px;
    display: flex;
    flex-direction: row-reverse;
    gap: 3px;
    margin-top: -5px;
}

.bottomBook button {
    width: 220px;
    height: 45px;
    border-radius: 40px;
    background-color: #758BFD;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s;
    position: absolute;
    top: 90px;
}

.bottomBook {
    position: relative;
}

.bottomBook button span {
    margin-right: 4px;
}

.bottomBook button:hover {
    background-color: #222;
}

.bottomBook div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#all-books {
    width: 1300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#allBooks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

#watch-BookPage {
    width: 200px;
    height: 50px;
    font-size: 15px;
    border-radius: 40px;
    background-color: #758BFD;
    color: #fff;
    margin-top: 100px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 0.3s;
}

#most > * {
    user-select: none;
}

#watch-BookPage:hover {
    background-color: #222;
}

#comment {
    width: 140px;
}

.userComment {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.text {
    width: 300px;
    text-align: center;
    font-size:18px;
}

.comments {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    gap: 20px;
    width: 400px;
    height: 300px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 40px;
}

.name {
    color: #758BFD;
    font-size: 18px;
    margin-left: 5px;
}

.job {
    font-size: 14px;
    color: #3a3a3a;
}

#suggest {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userImg img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 5px solid #F1F2F6;
}

#buttons button {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    color: #F1F2F6;
    background-color: #758BFD;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#buttons button:hover {
    color: #758BFD;
    background-color: #F1F2F6;
}